
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBox {
    width: 50%;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

main {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 2em;
    margin-bottom: 20px;
}
button {
    background-color:#a50000 ;
    border-radius:  20px;
    padding: 20px;
}
button:hover{
    background-color:#630000 ;
    border-radius:  20px;
    padding: 20px;
}
.tdButtons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #ffc107;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

table td {
    background-color: #fff;
}
.tdCountry{
    display: flex;
    align-items: center;
}
table tr:nth-child(even) {
    background-color: #f0f0f0;
}

table tr:hover {
    background-color: #ddd;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footerontainer {
    max-width: 1200px;
    margin: 0 auto;
}
